* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.photos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

h2 {
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.gallery {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}

.gallery img {
    width: 100%;
    transition: 0.2s ease-out;
  
}

.gallery img:hover {
    transform: scale(1.1);
}
